html {
    background: rgb(0,252,254);
    background: linear-gradient(153deg, rgba(0,252,254,1) 0%, rgba(24,199,91,1) 44%, rgba(236,255,0,1) 82%);
    background-repeat: no-repeat;
}

.whole_container {
    margin-left: 30%;
    margin-top: 70px;
}

.score_div_container {
    width: 620px;
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}

.score_divs {
    width: 50%;
}

#computer_score {
    float: right;
    margin-top: -45px;
}

@media only screen and (max-width: 1400px) {
    .whole_container {
        margin-left: 28%;
    }
}

@media only screen and (max-width: 1200px) {
    .whole_container {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 1100px) {
    .whole_container {
        margin-left: 23%;
    }
}

@media only screen and (max-width: 1000px) {
    .whole_container {
        margin-left: 19%;
    }
}
